# Private Key to the Firebase Realtime Database #
#################################################
# This key contains the authentication token to the database
# This key will be distributed privately for testing purposes
supercool-rental-firebase-adminsdk-z4c57-24e2b78205.json
