*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

.container{
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),url(images/McQueen.jpg);
	background-position: center;
	background-size: cover;
	box-sizing: border-box;
}

.navibar{
	height: 9%;
	display: flex;
	align-items: center;
	padding-left: 6%;
	padding-right: 6%;
	background-color: white;
	position: fixed;
	top: 0;
	width: 90%;

}

.brand_logo{
	width: 300px;
	cursor: pointer;
}

.menu_icon{
	width: 30px;
	cursor: pointer;
	margin-left: 60px;
}

nav{
	flex: 1;
	text-align: right;
}

nav ul li{
	list-style: none;
	display: inline-block;
	margin-left: 60px;
}

.hide{
	display: none;
}

nav ul li a{
	text-decoration: none;
	color: gray;
	font-size: 16px;
	font-weight: bold;
}

nav ul li a:hover{
	animation: highlight 0.5s forwards;
}

@keyframes highlight {
	from {}
	to {color:blue; background-color: lightblue;}
}

.main_content{
	display: flex;
	height: 90%;
	align-items: center;
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 2%;
	flex-wrap: wrap;
	justify-content: center;
}

.intro, 
.services{
	flex: 50%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
	color: white;
}


.intro h1{
	color: white;
	font-size: 50px;
}

.intro p{
	color: white;
	font-size: 20px;
	line-height: 20px;
}

.pic, .team_member{
	text-align: center;
	display: inline-block;
	border-radius: 10px;
	padding: 15px 25px;
	cursor: pointer;
	transition: transform 0.5s;
}

.pic:hover, .team_member:hover{
	transform: translateY(-8px);
}

.pic h3, .team_member h3{
	color: white;
}

.team_member img{
	border-radius: 50%;
	width: 220px;
	height: 220px;
}

.rental_image, .parking_image{
	width: 234px;
	height: 293px;
}

.team_info, .source_info{
	color: white;
	flex: 50%;
}

.register_form{
	width: 350px;
	box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
	background: white;
	padding: 20px;
	margin-top: 5%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.register_form h2{
	color: blue;
}

.input_box{
	border-radius: 20px;
	border: 1px solid gray;
	padding: 10px;
	margin: 10px 10px;
	width: 85%;
	outline: none;
}
.btn{
	border-radius: 20px;
	font-size: 15px;
	color: white;
	background-color: #1c8adb;
	width: 90%;
	padding: 10px;
	margin: 10px 10px;
	border: none;
	outline: none;
	cursor: pointer;
}

.register_form img{
	width: 70px;
	margin-top: -50px;
}

.register_form p{
	font-size: 15px;
	padding: 10px;
	margin: 10px 10px;
	outline: none;
}

.register_form p a{
	text-decoration: none;
}

.register_form hr{
	margin-top: 10px;
}

.error {
    color: red;
    font-size: 90%;
    text-decoration: underline;
}

