body {
	background-color: #000000;
	padding: 20px;
	color: #4EF444;
}

#gridContainer {
	padding-bottom: 10px;
}

table {
	background-color: transparent;
	border-radius: 8px;
	border-spacing: 0;
	width: 85%;
}

td {
	border: 0.5px solid #48E724;
	border-radius: 8px;
	height: 10px;
}

strong{
	font-size: 24px;
}

span {
    color: #FF0000;
}

.dropbox {
	position: relative;
}

.dropbox select {
	background: linear-gradient(
		#4EF444, #4EF444);
	color: black;
	padding: 12px;
	width: 150px;
	border: none;
	border-radius: 20px;
	font-size: 24px;
	outline: none;
}

#start,
#stop,
#clear,
#random,
#next1,
#next23 {
	padding: 1em;
	border-radius: 5px;
	border: none;
	margin-right: 3%;
	width: 6%;
	height: 7%;
	background: linear-gradient(
		#4EF444 , #4EF444);
}

td.dead {
	background-color: transparent;
}

td.live {
	background-color: #4EF444;
	background-size: cover;
	border-radius: 10px;
}

#submit-btn{
	width: 100%;
}

#submit-btn, #logout-btn {
    border-radius: 10px;
    background-color: lightgray;
    text-align: center;
}

form.input {
    position: absolute;
    left: 40%;
    top: 30%;
}

.legend_txt {
    color: white;
    margin-bottom: 10px;
}

img.title_img {
	margin-right: auto;
	margin-left: auto;
    position: relative;
    top: 0%;
    left: 27%;
}

a {
	color: #FFA500;
}

#submit-btn:hover, #logout-btn:hover, a:hover{
	animation: highlight 0.5s forwards;
}

@keyframes highlight {
	from {}
	to {color:white; background-color: blue;}
}
